<div class="container">
  <img src="./assets/images/bg-header-desktop.svg" alt="" />
  <div class="parent" *ngFor="let jobs of data">
    <div class="parent-left">
      <img [src]="jobs.logo" alt="" class="logos" />
      <div class="job-details">
        <div class="cmpny-details">
          <div class="cmpny-name">{{ jobs.company }}</div>
          <div class="new" *ngIf="jobs.new">NEW!</div>
          <div class="featured" *ngIf="jobs.featured">FEATURED</div>
        </div>
        <div class="job-position">{{ jobs.position }}</div>
        <div class="job-duration">
          <div class="ago">{{ jobs.postedAt }}</div>
          <div class="full-part">{{ jobs.contract }}</div>
          <div class="location">{{ jobs.location }}</div>
        </div>
      </div>
    </div>
    <div class="parent-right">
      <div class="tags" *ngFor="let tag of jobs.tags">
        {{ tag }}
      </div>
    </div>
  </div>
</div>
