<div class="Parent">
  <div class="parentx">
    <div class="Parents">
      <img src="./assets/images/photosnap.svg" alt="ente image evde my**" />
    </div>
    <div class="Children">
      <div class="firstChild">
        <div class="childx1">Photosnap</div>
        <div class="childx3">NEW!</div>
        <div class="childx4">FEATURED</div>
      </div>
      <div class="childx5">Senior Frontend Developer</div>
      <div class="secondChild">
        <div class="childx2">1 Day Ago</div>
        <div class="childx2">Full Time</div>
        <div class="childx2">USA Only</div>
      </div>
    </div>
    <div class="secondParent">
      <div class="child">Frontend</div>
      <div class="child">Senior</div>
      <div class="child">HTML</div>
      <div class="child">CSS</div>
      <div class="child">JavaScript</div>
    </div>
  </div>
  
  <div class="parenty">
    <div class="Parents">
      <img src="./assets/images/manage.svg" alt="ente image evde my**" />
    </div>
    <div class="Children">
      <div class="firstChild">
        <div class="childx1">Manage</div>
        <div class="childx3">NEW!</div>
        <div class="childx4">FEATURED</div>
      </div>
      <div class="childx5">Senior Frontend Developer</div>
      <div class="secondChild">
        <div class="childx2">1 Day Ago</div>
        <div class="childx2">Part Time</div>
        <div class="childx2">Remote</div>
      </div>
    </div>
    <div class="secondParent">
      <div class="child">Fullstack</div>
      <div class="child">Midweight</div>
      <div class="child">Python</div>
      <div class="child">React</div>
      <!-- <div class="child">JavaScript</div> -->
    </div>
  </div> 

  <div class="parentz">
    <div class="Parents">
      <img src="./assets/images/account.svg" alt="ente image evde my**" />
    </div>
    <div class="Children">
      <div class="firstChild">
        <div class="childx1">Account</div>
        <div class="childx3">NEW!</div>
        <!-- <div class="childx4">FEATURED</div> -->
      </div>
      <div class="childx5">Junior Frontend Developer</div>
      <div class="secondChild">
        <div class="childx2">2 Day Ago</div>
        <div class="childx2">Part Time</div>
        <div class="childx2">USA Only</div>
      </div>
    </div>
    <div class="secondParent">
      <div class="child">Frontend</div>
      <div class="child">Junior</div>
      <div class="child">React</div>
      <div class="child">Sass</div>
      <div class="child">JavaScript</div>
    </div>
  </div> 

  <div class="parenta">
    <div class="Parents">
      <img src="./assets/images/myhome.svg" alt="ente image evde my**" />
    </div>
    <div class="Children">
      <div class="firstChild">
        <div class="childx1">MyHome</div>
        <!-- <div class="childx3">NEW!</div>
        <div class="childx4">FEATURED</div> -->
      </div>
      <div class="childx5">Junior Frontend Developer</div>
      <div class="secondChild">
        <div class="childx2">5 Day Ago</div>
        <div class="childx2">Contract</div>
        <div class="childx2">USA Only</div>
      </div>
    </div>
    <div class="secondParent">
      <div class="child">Frontend</div>
      <div class="child">Junior</div>
      <div class="child">CSS</div>
      <div class="child">JavaScript</div>
      <!-- <div class="child">JavaScript</div> -->
    </div>
  </div> 

  <div class="parentb">
    <div class="Parents">
      <img src="./assets/images/loop-studios.svg" alt="ente image evde my**" />
    </div>
    <div class="Children">
      <div class="firstChild">
        <div class="childx1">Loop Studios</div>
        <!-- <div class="childx3">NEW!</div>
        <div class="childx4">FEATURED</div> -->
      </div>
      <div class="childx5">SOftware Engineer</div>
      <div class="secondChild">
        <div class="childx2">1w Ago</div>
        <div class="childx2">FUll Time</div>
        <div class="childx2">Worldwide</div>
      </div>
    </div>
    <div class="secondParent">
      <div class="child">Fullstack</div>
      <div class="child">Midweight</div>
      <div class="child">JavaScript</div>
      <div class="child">Sass</div>
      <div class="child">Ruby</div>
    </div>
  </div> 

  <div class="parentc">
    <div class="Parents">
      <img src="./assets/images/faceit.svg" alt="ente image evde my**" />
    </div>
    <div class="Children">
      <div class="firstChild">
        <div class="childx1">FAceIt</div>
        <!-- <div class="childx3">NEW!</div>
        <div class="childx4">FEATURED</div> -->
      </div>
      <div class="childx5">Junior Backend Developer</div>
      <div class="secondChild">
        <div class="childx2">2w Ago</div>
        <div class="childx2">FUll Time</div>
        <div class="childx2">UK OnLy</div>
      </div>
    </div>
    <div class="secondParent">
      <div class="child">Backend</div>
      <div class="child">Junior</div>
      <div class="child">Ruby</div>
      <div class="child">RoR</div>
      <!-- <div class="child">JavaScript</div> -->
    </div>
  </div> 

  <div class="parentd">
    <div class="Parents">
      <img src="./assets/images/shortly.svg" alt="ente image evde my**" />
    </div>
    <div class="Children">
      <div class="firstChild">
        <div class="childx1">Shortly</div>
        <!-- <div class="childx3">NEW!</div>
        <div class="childx4">FEATURED</div> -->
      </div>
      <div class="childx5">Junior Developer</div>
      <div class="secondChild">
        <div class="childx2">2w Ago</div>
        <div class="childx2">Full Time</div>
        <div class="childx2">Worldwide</div>
      </div>
    </div>
    <div class="secondParent">
      <div class="child">Frontend</div>
      <div class="child">Junior</div>
      <div class="child">HTML</div>
      <div class="child">Sass</div>
      <div class="child">JavaScript</div>
    </div>
  </div> 
</div>