<div class="container">
  <img src="./assets/images/bg-header-desktop.svg" alt="">
  <div class="parent" *ngFor="let jobs of data">
    <div class="parent-left">
      <img [src]="jobs.logo" alt="" class="logos">
      <div class="job-details">
        <div class="cmpny-details">
          <div class="cmpny-name">{{jobs.company}}</div>
          <div class="new" *ngIf="jobs.new">NEW!</div>
          <div class="featured" *ngIf="jobs.featured">FEATURED</div>
        </div>
        <div class="job-position">{{jobs.position}}</div>
        <div class="job-duration">
          <div class="ago">{{jobs.postedAt}}</div>
          <div class="full-part">{{jobs.contract}}</div>
          <div class="location">{{jobs.location}}</div>
        </div>
      </div>
    </div>
    <div class="parent-right">
      <div class="role">{{jobs.role}}</div>
      <div class="level">{{jobs.level}}</div>
      <div class="language" *ngFor="let lang of jobs.languages">{{lang}}</div>
      <div class="tools" *ngFor="let tool of jobs.tools">{{tool}}</div>
    </div>
  </div>
</div>